<section id="archive">
  <div class="container py-3">
    <div class="row">
      <div class="col">
        <h2 class="text-primary">Archive</h2>
        <ul class="list-group list-group-flush px-5 py-3">
          {% for post in site.posts %}
          <li class="list-group-item">
            <span class="text-muted">{{ post.date | date: "%b %d, %Y" }}</span> :
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>