{% if page.quote %}
<blockquote class="blockquote">
  <p class="mb-0">{{ page.quote }}</p>
  {% if page.quote-author and page.quote-source %}
  <footer class="blockquote-footer">William Shakesphere in
    <cite title="Source Title">Romeo and Juliet</cite>
  </footer>
  {% elsif page.quote-author and !page.quote-source %}
  <footer class="blockquote-footer">William Shakesphere
  </footer>
  {% endif %}
</blockquote>
{% else %}
<blockquote class="blockquote">
  <p class="mb-0">Check your front matter for quote variables!</p>
</blockquote>
{% endif %}