<footer class="py-3 bg-light">
  <div class="container">
    <div class="row footer align-items-center">
      <div class="col-xssm-6 text-muted text-center d-xssm-none">
        &copy; {{site.copyright}} {{ site.time | date: '%Y' }}
      </div>
      <div class="col-xssm-6 text-muted d-none d-xssm-block">
        &copy; {{site.copyright}} {{ site.time | date: '%Y' }}
      </div>
      <div class="col-xssm-6 text-center d-xssm-none">
        {% if site.show_social_icons %} {% include social_links.html %} {% endif %}
      </div>
      <div class="col-xssm-6 text-right d-none d-xssm-block">
        {% if site.show_social_icons %} {% include social_links.html %} {% endif %}
      </div>
    </div>
  </div>
</footer>

<!-- scripts -->
<script src="/assets/js/main.min.js"></script>
</body>

</html>