<footer class="py-3 bg-light">
  <div class="container">
    <div class="row footer">
      <div class="col-xssm-6 text-muted text-center d-xssm-none">
        &copy; {{site.brand}} {{ site.time | date: '%Y' }}
      </div>
      <div class="col-xssm-6 text-muted d-none d-xssm-block">
        &copy; {{site.brand}} {{ site.time | date: '%Y' }}
      </div>
      <div class="col-xssm-6 text-center d-xssm-none">
        {% if site.show_social_icons %} {% include social_links.html %} {% endif %}
      </div>
      <div class="col-xssm-6 text-right d-none d-xssm-block">
        {% if site.show_social_icons %} {% include social_links.html %} {% endif %}
      </div>
    </div>
  </div>
</footer>

<!-- scripts -->
<script src="/assets/js/main.js"></script>
</body>

</html>