<!-- NAV -->
<nav class="navbar navbar-expand-md navbar-light py-xs-2 py-md-4">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="navbar-brand">
      <h2 class="d-none d-md-inline align-middle pl-3 text-primary">{{site.brand}}</h2>
      <h3 class="d-md-none d-inline align-middle pl-3 text-primary">{{site.brand}}</h3>
    </a>
    <button class="navbar-toggler float-right" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="{{ site.baseurl }}/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/archive/" class="nav-link">Archive</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/about/" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/my_collection/" class="nav-link">Collection</a>
        </li>
      </ul>
    </div>
  </div>
</nav>