{% if page.image %}
  {% assign f = page.image | split: '.' %}
  {% assign img_path = site.baseurl | append: "/assets/images/responsive/" %}
  <img src="{{ img_path | append: f[0] | append: relative_url }}-xl.{{ f[1] }}" 
    srcset="{{ img_path | append: f[0] | append: relative_url }}-xs.{{ f[1] }} 576w,
            {{ img_path | append: f[0] | append: relative_url }}-sm.{{ f[1] }} 768w,
            {{ img_path | append: f[0] | append: relative_url }}-md.{{ f[1] }} 992w,
            {{ img_path | append: f[0] | append: relative_url }}-lg.{{ f[1] }} 1200w,
            {{ img_path | append: f[0] | append: relative_url }}-xl.{{ f[1] }} 2000w"
    alt="{{ page.title }}">
{% endif %}