<!-- NAV -->
<nav class="navbar navbar-expand-md navbar-light py-xs-2 py-md-4">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="navbar-brand">
      <h2 class="d-none d-md-inline align-middle pl-3 text-primary">{{site.brand}}</h2>
      <h3 class="d-md-none d-inline align-middle pl-3 text-primary">{{site.brand}}</h3>
    </a>
    <button class="navbar-toggler float-right" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/about/" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/archive/" class="nav-link">Archive</a>
        </li>
        <li class="nav-item">
          <a href="/docs/" class="nav-link">Docs</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn-search nav-link" data-toggle="modal" data-target="#search-modal">
            <i class=" fas fa-search "></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>