{% if page.image %}
  {% assign f = page.image | split: '.' %}
  {% assign img_path = site.baseurl | append: "/assets/images/responsive/"%}
<picture>
  <source media="(max-width: 576px)" srcset="{{ img_path | append: f[0] | append: relative_url }}-sm.{{ f[1] }}" >
  <source media="(max-width: 768px)" srcset="{{ img_path | append: f[0] | append: relative_url }}-md.{{ f[1] }}" >
  <source media="(max-width: 992px)" srcset="{{ img_path | append: f[0] | append: relative_url }}-lg.{{ f[1] }}" >
  <source media="(max-width: 1200px)" srcset="{{ img_path | append: f[0] | append: relative_url }}-xl.{{ f[1] }}" >
  <img src="{{ img_path | append: f[0] | append: relative_url }}-xl.{{ f[1] }}" alt="{{ page.title}}" >
</picture>
{% endif %}