<section id="posts" class="py-3">
  <div class="container">
    <div class="row">
      {% for post in paginator.posts %}
      <div class="col mb-4 card-deck">
        <div class="card">
          <img class="card-img-top" src="{{ post.image }}" alt="Card Text">
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h4>
            <p class="card-subtitle text-muted">
              {{ post.date | date: "%b %-d, %Y" }}
            </p>
            <p class="card-text">
              {% if post.summary %} {{ post.summary }} {% else %} {{ post.excerpt | strip_html | strip_newlines | escape }} {% endif %}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>