<section id="posts" class="py-5 hide-on-search">
  <div class="container">
    <div class="row">
      <div class="col">
        {% for post in paginator.posts %}
        <div>
          <h2>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p class="lead">
            {{ post.date | date: "%b %-d, %Y" }}
          </p>

          <p>
            {% if post.summary %} {{ post.summary }} {% else %} {{ post.excerpt }} {% endif %}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>