<div class="social-links">
  <a target="_blank" href="https://github.com/{{ site.github_username }}" title="Github">
    <i class="fab fa-github"></i>
  </a>
  <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="mailto:{{ site.email }}" title="email">
    <i class="fas fa-envelope-square"></i>
  </a>
  <!-- <a href="mailto:{{ site.email }}" title="email">
    <i class="fas fa-at"></i>
  </a> -->
  <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
    <i class="fab fa-twitter"></i>
  </a>
  <a target="_blank" href="https://facebook.com/{{ site.facebook_username }}" title="Facebook">
    <i class="fab fa-facebook"></i>
  </a>
</div>