// Color
$primary: #ff859b;

// Grid
$grid-breakpoints: (
  /* Extra small screen / phone*/ xs: 0,
  /* Between xs and sm*/ xssm: 350px,
  /* Small screen / phone*/ sm: 576px,
  /* Medium screen / tablet*/ md: 768px,
  /* Large screen / desktop*/ lg: 992px,
  /* Extra large screen / wide desktop*/ xl: 1200px
);

// Links
$link-color: #3194c3;
$link-hover-color: $primary;
$link-hover-decoration: none;
$link-decoration: none;

// Tooltips
$tooltip-bg: #3194c3;
$tooltip-color: white;
$tooltip-opacity: 0.9;
