.jumbotron-bg {
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
}

.kyoto-bg {
  @extend .jumbotron-bg;
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(/assets/images/andre-benz-250740-unsplash.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/assets/images/andre-benz-250740-unsplash.jpg);
}

.random-bg {
  @extend .jumbotron-bg;
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(https://picsum.photos/1200/800/?random);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://picsum.photos/1200/800/?random);
}
