// Using @extend lets us avoid using "{: }" manual stylings inline everywhere in markdown.
img {
  @extend .img-fluid;
  height: auto;
  max-width: 100%;
}
picture img {
  margin-bottom: 1rem;
}
table {
  @extend .table;
  @extend .table-striped;
}
