.social-links {
  a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.25rem;

    @include media-breakpoint-down(md) {
      padding-left: 3px;
      padding-right: 3px;
    }

    &:hover {
      color: $gray-600;
      cursor: pointer;
    }
  }
}
.fa-at {
  color: #c71610;
}
.fa-envelope-square {
  color: #c71610;
}
.fa-facebook {
  color: #3b5998;
}
.fa-github {
  color: black;
}
.fa-google-plus {
  color: #d34836;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-twitter {
  color: #00aced;
}
.fa-slack {
  color: black;
}
