// Headings
// $h1-font-size:                $font-size-base * 2.5 !default;
// $h2-font-size:                $font-size-base * 2 !default;
// $h3-font-size:                $font-size-base * 1.75 !default;
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;
h1,
.h1 {
  @include media-breakpoint-only(xs) {
    font-size: $font-size-base * 2 !important;
  }
}
h2,
.h2 {
  @include media-breakpoint-only(xs) {
    font-size: $font-size-base * 1.75 !important;
  }
}
h3,
.h3 {
  @include media-breakpoint-only(xs) {
    font-size: $font-size-base * 1.5 !important;
  }
}
h4,
.h4 {
  @include media-breakpoint-only(xs) {
    font-size: $font-size-base * 1.25 !important;
  }
}
h5,
.h5 {
  @include media-breakpoint-only(xs) {
    font-size: $font-size-base !important;
  }
}

header .display-1 {
  @include media-breakpoint-up(xs) {
    font-size: 3rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 4.5rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 5.5rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 6rem;
  }
}

header .lead {
  @include media-breakpoint-only(xs) {
    font-size: $font-size-base !important;
  }
}

.ais-Highlight {
  background-color: #ffd2e8;
}
